@import "../../styles/mixins";
@import '../../styles/common';
@import '../../styles/variables';

.container{
  .side{
    p{
      margin-bottom: 2em;
    }
  }

  .main{
    img{
      margin-left: 10em;
    }
    h1{
      margin-top: 2em;
      margin-bottom: 2em;
      text-align: center;
      font-size: 60px;
    }

    @include flex(column, center);

    .top{
      margin-left:4em;
      @include flex(row, space-around, center);
    }

    .playersDisplay{
      @include flex(row, center);
      flex-wrap: wrap;
      margin-bottom:9em;

      p{
        margin: 20px;
      }
    }
  }
}