.memeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: red;
  img {
    height: 40vh;
    width: 28em;
  }

  .topText{
    h1{
      font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
      color:white;
      font-size: 1.75em;
      text-shadow: black 0px 0px 4px;
    }
    
    width: 20em;
    position: absolute;
  }

  .bottomText {
    h1{
      
      font-size: 1.75em;
      color:white;
      text-shadow: black 0px 0px 4px;
      font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    }
   
    width: 20em;
    /* background-color: aliceblue; */
    position: absolute;
    margin-top: 13em;
  }
}