@import './variables';
.container{
  @include flex(row, space-around);
}
body{
  background: linear-gradient(110deg, #2A2A2E 33%, white 25%);
  h1,h2{
    font-size: $headers;
    font-family: 'Courier New', Courier, monospace
  }

  p{
    font-family: $roboto;
  }
  h2{
    font-size:$secondaryHeaders;
  }

  p{
    font-size: $text;
  }
}

.side{
  @include flex(column, center, center);
  @include heightWidth(100,30);
  h1, h2, p {
    color: white;
  }

  button{
    border-radius: 45px;
    border: 3px solid white;
    padding: 15px;
    background: $sideColor;
    color: white;
    font-size: $text;
  }
}

.main{
  @include heightWidth(100,70);
  #logo{
    position: fixed;
    height: 150px;
    width: auto;
    right: 20px;
    top: 10px;
  }

  .playersDisplay{
    @include flex(row, center);
    flex-wrap: wrap;

    p{
      margin: 20px;
    }
  }
}