@mixin flex($direction, $justify: null, $center: null){
  display: flex;
  flex-direction: $direction;
  align-items: $center;
  justify-content: $justify;
}

@mixin heightWidth($height,$width){
  height: $height + unquote('vh');
  width: $width + unquote('vw');
}