@import "../../styles/mixins";
@import '../../styles/common';
@import '../../styles/variables';

#voteMain{
  @include flex(column, center, center);

  #versus{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right:8%; 
  }
}